---
import { Image } from "astro:assets";
import Button from "../ui/Button.astro";

export interface Props {
    title: string;
    image: {
        src: ImageMetadata;
        alt: string;
        width: number;
        height: number;
    };
    paragraphs: Array<string>;
    buttons: Array<{
        label: string;
        icon: string;
        href?: string;
    }>;
}

const { title, image, paragraphs, buttons } = Astro.props;
---

<section class="px-4">
    <div class="container mx-auto max-w-6xl">
        <div class="text-center mb-12">
            <h3
                class="text-3xl md:text-4xl font-bold text-primary mb-4"
                style="font-family: 'Space Grotesk', sans-serif;"
            >
                {title}
            </h3>
        </div>

        <div class="grid md:grid-cols-2 gap-8 items-center">
            <div>
                <div
                    class="w-full h-64 bg-muted rounded-lg shadow-lg overflow-hidden"
                >
                    <Image
                        src={image.src}
                        alt={image.alt}
                        class="w-full h-full object-cover"
                        width={image.width}
                        height={image.height}
                    />
                </div>
            </div>

            <div class="space-y-4">
                {
                    paragraphs.map((paragraph) => (
                        <p class="text-foreground">{paragraph}</p>
                    ))
                }
                <div class="pt-4 flex justify-center md:justify-start">
                    {
                        buttons.map((button) => (
                            <Button
                                variant="primary"
                                href={button.href}
                                icon={button.icon}
                            >
                                {button.label}
                            </Button>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</section>
